@tailwind base;
@tailwind components;
@tailwind utilities;

.user_image{
  /* border: 1px solid white; */
  width: 15%;
  height: 5%;
  border-radius: 50%;
  margin: 5px 0px;
}
.custom-margin
{
  margin: 20px 0px;
}
.user-name
{
  margin: 5px 0px;
}
.dropdown-toggle::after {
  display: none !important; 
}
.brand-logo-non-user
{
  margin-top: 1px;
}
.non-user-margin
{
  
}
/* a{
  text-decoration: none;
} */

/* .custom_Link_user{
  color: black
}
.offcanvasBack{
  background-color: black;
  text-decoration: none;
} */
Nav a{
  text-decoration: none;
  color: white;
  margin-right: 10px;
  transition: 0.3s;
}

Nav a:hover{
  transition: 0.3s;
  color: aqua
}
